.cta-btn{
  background: var(--button-bg);
  color: #fff !important;
  font-size: 14px;
  padding: 8px 26px;
  border-radius: 4px;
  transition: all 0.3s ease;
  width: max-content;
  &:hover{
    background: color-mix(in srgb, var(--accent-color), transparent 15%) !important;
  }
  &:focus{
    border:none !important;
    outline: none !important;
  }
}